/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 20px;
  color: #5a5a5a;
  padding-top: 65px;
}


/*PRICING STUFF
------------------*/
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}



/* Footer
------------------*/
footer {
  background-color: #1b1b1b;
  /*border-radius: 3px;*/
  color: #ffffff;
  height: 40px;
  margin-top: 20px;
  padding-top: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;    
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar padding */
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar rounded border corners */
  .navbar-wrapper .navbar {
    border-radius: 2px;
  }

