body { 
    padding-top: 65px;
}

.tagdiv{
    display:inline-block;
    margin-left:10px;
    /*border-style:solid;
    border-color: black;
    border-width: 1px;
    border-radius:5px; */
}
.tagdiv p{
    margin:0px; 
}

.filterdiv{
    border-style:solid;
    border-color: black;
    border-width: 2px;
    border-radius:5px 0px 5px 5px;  
}

.filterbutton{    
    padding: 1px;
    border-radius:0px 5px 5px 0px;  
    background-color: black;
    border: none;
    color: white;
    text-decoration: none;
}

.filediv{
    width:150px;
    margin:10px;
    float:left; 
    border-style:solid;
    border-color: black;
    border-width: 1px; 
    border-radius: 5px;
    cursor:pointer; 
    cursor: hand;
}


/* Little preview img */
.fileimg{
    max-width:95%;
    margin:auto;
    display:block;
    max-height:150px ;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.filesdiv{
    margin-bottom: 40px;
}

.row-centered {
    text-align:center;
}