*/.idea/*
*/node_modules/*
src/website/.idea/
src/website/node_modules/
src/website/DBCredentials.json
.idea/
src/website/jsconfig.json
src/website/.vscode/
src/website/.eslintrc.json
src/website/SessionSecret.json
src/website/azure.json
src/website/ApiKey.json
