<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Paperless Office</title>

	<!-- Bootstrap -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesnt work if you view the page via file:// -->
	<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<!-- jQuery (necessary for Bootstrap\'s JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Controller -->
	<script src="/js/Controller.js"></script>
	<!-- SHA512 -->
	<script src="/js/sha512.js"></script>
	<!-- Stylesheets -->
	<link href="/css/carousel.css" rel="stylesheet">
	<link href="/css/FileOverview.css" rel="stylesheet">
</head>

<body class="container">
	<div ng-app="myApp" ng-controller="FileOverview">
		<!--Navbar-->
		<div class="navbar-wrapper">
			<div class="container">
				<nav class="navbar navbar-inverse navbar-static-top">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
								aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
							<a class="navbar-brand" href="#">Paperless Office</a>
						</div>
						<div id="navbar" class="navbar-collapse collapse">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="index.html">Home</a></li>
								<li class="active"><a href="#">Main page</a></li>
								<li><a>Welcome, {{username}}</a></li>
								<li><a href="#" data-toggle="modal" data-target="#uploadModal">Upload</a></li>
								<li ng-if="loggedin"><a href="#" ng-click="logout()">Log Out</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<div class="container container-fullwidth">
			<div class="filterdiv col-md-3" style="border:solid black;" ng-show="filtershow">
				<h2>Filter:</h2><button style="position:absolute; top:0; right:0;" ng-click="filtershow = false">Hide</button>
				<label><input type="checkbox" value="">Content</label>
				<input type="text" class="form-control" id="">
				<label><input type="checkbox" value="">Date</label>
				<div class="form-group row">
					<label class="col-xs-2">From:</label>
					<div class="col-xs-10">
						<input type="text" class="form-control" id="">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-xs-2">To:</label>
					<div class="col-xs-10">
						<input type="text" class="form-control" id="">
					</div>
				</div>
				<label><input type="checkbox" value="">Name</label>
				<input type="text" class="form-control" id="">
				<label><input type="checkbox" value="">Tags</label>
				<input type="text" class="form-control" id="">
			</div>
			<div ng-hide="filtershow" class="col-md-1">
				<button style="position:absolute; top:0; right:0;" ng-click="filtershow = true">Show Filters</button>
			</div>

			<div class="filesdiv col-md-9">
				<div class="row">
					<div class="filediv" style="width:150px" ng-repeat="file in files" ng-click="fileclick(file.id)">
						<h4>{{file.id}}</h4>
						<img src="{{file.url}}">
						<div>
							<div class="tagdiv" ng-repeat="tag in file.tags">
								<p>{{tag}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="col-sm-12" >
			<p class="pull-right"><a href="#">Back to top</a></p>
			<p>&copy; 2016 LHS</p>
		</footer>
	</div>
</body>

</html>