<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Paperless Office</title>

	<!-- Bootstrap -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesnt work if you view the page via file:// -->
	<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<!-- jQuery (necessary for Bootstrap\'s JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Controller -->
	<script src="/js/Controller.js"></script>
	<!-- SHA512 -->
	<script src="/js/sha512.js"></script>
	<!-- Stylesheets -->
	<script src="/js/ng-file-upload.min.js"></script>
	<script src="/js/ng-file-upload-shim.min.js"></script>
	<!-- for older browsers-->
	<!-- Stylesheets -->
	<link href="/css/carousel.css" rel="stylesheet">
	<link href="/css/FileOverview.css" rel="stylesheet">
</head>

<body>
	<div ng-app="myApp" ng-controller="PaperlessController">
		<!--Navbar-->
		<!--<div class="navbar-wrapper">-->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
					<a class="navbar-brand" href="#">Paperless Office</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="index.html">Home</a></li>
						<li class="active"><a href="#">Overview page</a></li>
						<li><a>Welcome, {{user.username}}</a></li>
						<li><a href="#" data-toggle="modal" data-target="#uploadModal">Upload</a></li>
						<li ng-if="loggedin"><a href="#" ng-click="logout()">Log Out</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Upload modal -->
		<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Upload</h4>
					</div>
					<div class="modal-body" style="padding: 3em;">
						<div class="row">
							<div id="Upload-form">
								<form role="form" class="form-horizontal form-group">
									<div class="">
										<h4>Name:</h4>
										<input type="text" class="form-control" ng-model="documentname" placeholder="name">
									</div>
									<div class="upload">
										<h4>Files:</h4>
										<table class="table">
											<thead>
												<tr>
													<th width="50%">Name</th>
													<th>Size</th>
													<th>Progress</th>
													<th>Actions</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="x in files">
													<td><strong>{{ x.name }}</strong></td>
													<td nowrap>{{ x.size/1024/1024|number:2 }} MB</td>
													<td>
														<span class="progress">
                                                    <div ng-bind="x.progress + '%'"></div>
                                                </span>
													</td>
													<td nowrap>
														<button type="button" class="btn btn-danger btn-xs" ng-click="x.upload.abort()">
                                                    <span class="glyphicon glyphicon-cancel"></span> Abort
                                                </button>
													</td>
												</tr>
											</tbody>
										</table>
										<div>
											<!-- Drop zone -->
											<div class="well well-lg drop-box" ngf-drop="addFile($files)" ngf-multiple="true" ngf-drag-over-class="dragover" ngf-allow-dir="true"
												ngf-drop-available="true" ngf-keep="true 'distinct'">
												Drag & drop your files
											</div>
											<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
											<input type="file" ngf-select="addFile($files)" ngf-keep="true 'distinct'" multiple>
										</div>
									</div>
									<br/>
									<div id="uploadwarnings"></div>
									<button class="btn btn-success" type="button" ng-click="uploadFiles()">Upload</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- modal-content -->
		</div>
		<!-- modal-dialog -->

		<!--</div>-->
		<div class="container">
			<div class="filterdiv col-md-3" ng-show="filtershow">
				<h2>Filter:</h2>
				<label><input type="checkbox" value="">Content</label>
				<input type="text" class="form-control" id="">
				<label><input type="checkbox" value="">Date</label>
				<div class="form-group row">
					<label class="col-xs-2">From:</label>
					<div class="col-xs-10">
						<input type="text" class="form-control" id="">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-xs-2">To:</label>
					<div class="col-xs-10">
						<input type="text" class="form-control" id="">
					</div>
				</div>
				<label><input type="checkbox" value="">Name</label>
				<input type="text" class="form-control" id="">
				<label><input type="checkbox" value="">Tags</label>
				<input style="margin-bottom:5%;" type="text" class="form-control" id="">
			</div>
			<!--<div class="filterbutton" ng-click="filtershow = !filtershow">Hide</span></div>-->
			<button class="filterbutton" ng-click="filtershowbtnclick()"><span>{{filterBtnText}}</span></button>
			<div class="filesdiv " ng-class="filedivclass">
				<div class="row">
					<div class="filediv" ng-repeat="file in userfiles" ng-click="fileclick(file.name)">
						<h4>id:{{file.id}}</h4>
						<img src="{{file.url}}">
						<div>
							<div class="tagdiv" ng-repeat="tag in file.tags">
								<span class="label label-default" ng-style="{'background-color':tag.color}">{{tag.name}}</span>
							</div>
							<div>
								<p style="margin-top:10px;margin-bottom:0px" align="right">{{file.date}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="col-sm-12 footer">
			<div class="container">
				<p class="pull-right"><a href="#">Back to top</a></p>
				<p>&copy; 2016 LHS</p>
			</div>
		</footer>
	</div>
</body>

</html>